<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.borrow.money.cash.loan.loanguide.loaninfo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.borrow.money.cash.loan.loanguide.MoneyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanInfo_76"
        android:usesCleartextTraffic="false"
        tools:targetApi="31">
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.MyBlankMoney"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.mapMoney.MapMoney_36"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.calculatorMoney.EmiDetailsMoney_35"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.calculatorMoney.EmiCalMoney_34"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.BankDetailMoney_33"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.bankMoney.SelectionBankMoney_32"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.BankNameDataMoney_31"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.bankMoney.BankDataMoney_30"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.mapMoney.NearMeMoney_29"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.ShareInputMoney_28"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.ServiceMoney_27"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.KindDetailMoney_26"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.bikeMoney.BikeLoanMoney_25"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.bikeMoney.BikeLoanfoMoney_24"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.cardMoney.CreditCardDetailMoney_23"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.cardMoney.CreditCardMoney_22"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.panMoney.PenCardMoney_21"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.panMoney.PanCardMoney_20"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.aadharMoney.AAdharInfoMoney_19"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.aadharMoney.AadharLoanMoney_18"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.DiscountTypeMoney_17"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.DetailMoreMoney_16"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.loantypeMoney.LoanTypeMoreMoney_15"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.LoanDetailMoney_14"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.LoanInformMoney_13"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.EpfOnlineDetailMoney_12"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.EpfOnlineMoney_11"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.TipsMoney_10"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.rewadMoney.ClaimMoney_9"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.DetailMoney_8"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.EpfServiceMoney_7"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.descriptionMoney.LoanTypeDetailMoney_6"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.loantypeMoney.LoanTypeMoney_5"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.SettingMoney_1"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.HomeMoney_4"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.StartMoney_1"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.introMoney.IntroOneMoney_2"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.introMoney.IntroTwoMoney_3"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.borrow.money.cash.loan.loanguide.activityMoney.SplashMoney"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>
    </application>

</manifest>